* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  width: 100%;
  height: 9vh;
  position: fixed;
  z-index: 2;
  background-color: white;
  transition: all ease-in 0.5s;
  div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    //border: solid 0.5px black;
    img {
      display: flex;
      justify-content: left;
      margin-top: 1rem;
      margin-left: 3rem;
      width: 8rem;
    }

    a.dropbtn {
      opacity: 0;
      z-index: -5;
      cursor: pointer;
      img {
        opacity: 0;
        z-index: -5;
      }
    }
    nav {
      position: absolute;
      top: 1px;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: right;
      margin-right: 3rem;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 5;
        li {
          width: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-right: 2rem;
          a {
            font-family: Helvetica;
            font-size: 20px;
            text-decoration: none;
            color: #8a8a8a;
            font-weight: bold;
            margin-top: 1.3rem;
          }
          a.active {
            color: #d8722e;
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  header {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      border: solid 1px black;
      background-color: white;
      img {
        display: block;
        margin: auto;
        margin-top: 1rem;
        width: 8rem;
      }
      a.dropbtn {
        opacity: 1;
        z-index: 5;
        img {
          opacity: 1;
          z-index: 5;
          position: absolute;
          display: block;
          margin: auto;
          margin-top: 0.5rem;
          margin-left: 0.5rem;
          width: 3rem;
          top: 0;
          left: 0;
        }
      }
      nav.open {
        position: relative;
        display: inline-block;
        display: block;
        transition: 1s;
      }

      nav {
        display: none;
        justify-content: left;
        z-index: 5;
        animation: fade-in;
        animation-duration: 1.5s;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: left;
          list-style: none;
          width: 200px;
          padding-bottom: 1rem;

          li {
            display: flex;
            flex-direction: row;
            justify-content: left;
            padding-left: 20px;
            width: auto;
            animation: fade-in;
            animation-duration: 1.5s;
            a {
              font-family: Helvetica;
              font-size: 20px;
              text-decoration: none;
              color: #8a8a8a;
              font-weight: bold;
              margin-top: 1.3rem;
            }
            a.active {
              color: #d8722e;
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    border: solid 1px black;
    background-color: white;
    height: 9vh;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      border: none;
      background-color: white;

      img {
        display: block;
        margin: auto;
        margin-top: 1rem;
        width: 8rem;
        justify-content: center;
        align-items: center;
      }
      a.dropbtn {
        cursor: pointer;
        opacity: 1;
        z-index: 5;

        img {
          opacity: 1;
          z-index: 5;
          position: absolute;
          display: block;
          margin: auto;
          margin-top: 0.5rem;
          margin-left: 0.5rem;
          width: 3rem;
          top: 0;
          left: 0;
        }
      }
      nav.open {
        position: relative;
        display: inline-block;
        display: block;
        transition: 1s ease-in 1s;
      }
      nav {
        display: none;
      }
      nav {
        //display: flex;
        width: 100%;
        justify-content: left;
        z-index: 5;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: left;
          list-style: none;
          padding: 0.5rem;
          padding-bottom: 1.3rem;
          flex-grow: 1;
          width: auto;

          li {
            display: flex;
            flex-direction: row;
            justify-content: left;

            padding-left: 20px;
            //width: 30%;
            a {
              font-family: Helvetica;
              font-size: 22px;
              text-decoration: none;
              color: #8a8a8a;
              font-weight: bold;
              margin-top: 1.3rem;
            }
            a.active {
              color: #d8722e;
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
//下拉選單動畫
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
